* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

.l-layout { overflow: hidden; }

.l-sidebar { float: left; width: 220px; margin-right: 20px; }

.l-main { overflow: hidden; }

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image, .fancybox-wrap iframe, .fancybox-wrap object, .fancybox-nav, .fancybox-nav span, .fancybox-tmp { padding: 0; margin: 0; border: 0; outline: none; vertical-align: top; }

.fancybox-wrap { position: absolute; top: 0; left: 0; z-index: 8020; }

.fancybox-skin { position: relative; background: #fff; color: #444; text-shadow: none; padding: 0 !important; min-width: 450px !important; min-height: 350px !important; }

.fancybox-opened { z-index: 8030; }

.fancybox-opened .fancybox-skin { -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); }

.fancybox-outer, .fancybox-inner { position: relative; }

.fancybox-inner { overflow: hidden; margin: 0 auto 20px; }

.fancybox-type-iframe .fancybox-inner { -webkit-overflow-scrolling: touch; }

.fancybox-error { color: #444; font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif; margin: 0; padding: 15px; white-space: nowrap; }

.fancybox-image, .fancybox-iframe { display: block; width: 100%; height: 100%; }

.fancybox-image { max-width: 100%; max-height: 100%; }

.fancybox-close { position: absolute; top: -25px; right: -25px; cursor: pointer; z-index: 8040; }

.fancybox-nav { position: absolute; top: 0; width: 40%; height: 100%; cursor: pointer; text-decoration: none; background: transparent url("../img/fancybox/blank.gif"); /* helps IE */ -webkit-tap-highlight-color: rgba(0, 0, 0, 0); z-index: 8040; }

.fancybox-prev { left: 10px; }

.fancybox-next { right: 10px; }

.fancybox-nav span { position: absolute; top: 50%; width: 36px; height: 34px; margin-top: -18px; cursor: pointer; z-index: 8040; }

.fancybox-prev span { left: 10px; background-position: 0 -36px; }

.fancybox-next span { right: 10px; background-position: 0 -72px; }

.fancybox-nav:hover span { visibility: visible; }

.fancybox-tmp { position: absolute; top: -99999px; left: -99999px; visibility: hidden; max-width: 99999px; max-height: 99999px; overflow: visible !important; }

/* Overlay helper */
.fancybox-lock { overflow: hidden !important; width: auto; }

.fancybox-lock body { overflow: hidden !important; }

.fancybox-lock-test { overflow-y: hidden !important; }

.fancybox-overlay { position: absolute; top: 0; left: 0; overflow: hidden; display: none; z-index: 8010; background: url("../img/fancybox/fancybox_overlay.png"); }

.fancybox-overlay-fixed { position: fixed; bottom: 0; right: 0; }

.fancybox-lock .fancybox-overlay { overflow: auto; overflow-y: scroll; }

/* Title helper */
.fancybox-title { visibility: hidden; font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif; position: relative; text-shadow: none; z-index: 8050; }
.fancybox-title .child { display: block; padding: 10px 20px; background: #437857; color: #FFF; font-size: 22px; line-height: 30px; }

.fancybox-opened .fancybox-title { visibility: visible; }

.fancybox-title-outside-wrap { position: relative; margin-top: 10px; color: #fff; }

.fancybox-title-inside-wrap { padding-top: 10px; }

.fancybox-title-over-wrap { position: absolute; bottom: 0; left: 0; color: #fff; padding: 10px; background: #000; background: rgba(0, 0, 0, 0.8); }

/*Retina graphics!*/
@font-face { font-family: "lato-regular"; src: url("../fonts/lato-regular.eot"); src: url("../fonts/lato-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-regular.woff") format("woff"), url("../fonts/lato-regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: "lato-bold"; src: url("../fonts/lato-bold.eot"); src: url("../fonts/lato-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-bold.woff") format("woff"), url("../fonts/lato-bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: "lato-black"; src: url("../fonts/lato-black.eot"); src: url("../fonts/lato-black.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-black.woff") format("woff"), url("../fonts/lato-black.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: "lato-blackitalic"; src: url("../fonts/lato-blackitalic.eot"); src: url("../fonts/lato-blackitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-blackitalic.woff") format("woff"), url("../fonts/lato-blackitalic.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: "lato-medium"; src: url("../fonts/lato-medium.eot"); src: url("../fonts/lato-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-medium.woff") format("woff"), url("../fonts/lato-medium.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: "lato-heavy"; src: url("../fonts/lato-heavy.eot"); src: url("../fonts/lato-heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-heavy.woff") format("woff"), url("../fonts/lato-heavy.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: "lato-heavyitalic"; src: url("../fonts/lato-heavyitalic.eot"); src: url("../fonts/lato-heavyitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-heavyitalic.woff") format("woff"), url("../fonts/lato-heavyitalic.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: "lato-hairline"; src: url("../fonts/lato-hairline.eot"); src: url("../fonts/lato-hairline.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-hairline.woff") format("woff"), url("../fonts/lato-hairline.ttf") format("truetype"); font-weight: normal; font-style: normal; }

body { font-family: "lato-regular"; font-weight: normal; font-style: normal; font-size: 14px; line-height: 1.4; color: #4f575c; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; min-width: 960px; }

.header .header__in, .nav, .page, .footer .footer__in { width: 940px; margin-left: auto; margin-right: auto; }

.icon { display: inline-block; vertical-align: middle; }
.icon.icon_phone { background: url('../img/icons-s6d8d0e7908.png') 0 -350px no-repeat; width: 16px; height: 16px; }
.icon.icon_mail { background: url('../img/icons-s6d8d0e7908.png') 0 -511px no-repeat; width: 16px; height: 10px; }
.icon.icon_mts { background: url('../img/icons-s6d8d0e7908.png') 0 -485px no-repeat; width: 17px; height: 16px; }
.icon.icon_megafon { background: url('../img/icons-s6d8d0e7908.png') 0 -376px no-repeat; width: 17px; height: 17px; }
.icon.icon_beeline { background: url('../img/icons-s6d8d0e7908.png') 0 -324px no-repeat; width: 17px; height: 16px; }

a { color: #0071bc; text-decoration: underline; }
a:hover { color: #f6a007; text-decoration: none; }

.btn { font-family: "lato-bold"; font-weight: normal; font-style: normal; white-space: nowrap; display: inline-block; text-transform: uppercase; text-decoration: none; border: none; font-size: 10px; line-height: 16px; color: white; text-align: center; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; background-color: #427255; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(124, 183, 147, 0)), color-stop(100%, rgba(124, 183, 147, 0.5))); background-image: -webkit-linear-gradient(bottom, rgba(124, 183, 147, 0) 0%, rgba(124, 183, 147, 0.5) 100%); background-image: -moz-linear-gradient(bottom, rgba(124, 183, 147, 0) 0%, rgba(124, 183, 147, 0.5) 100%); background-image: -o-linear-gradient(bottom, rgba(124, 183, 147, 0) 0%, rgba(124, 183, 147, 0.5) 100%); background-image: linear-gradient(bottom, rgba(124, 183, 147, 0) 0%, rgba(124, 183, 147, 0.5) 100%); -webkit-box-shadow: 0 2px 0 #2c553c; -moz-box-shadow: 0 2px 0 #2c553c; box-shadow: 0 2px 0 #2c553c; padding: 6px; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.btn:hover { color: white; background-color: #59a577; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(124, 183, 147, 0)), color-stop(100%, rgba(124, 183, 147, 0.5))); background-image: -webkit-linear-gradient(bottom, rgba(124, 183, 147, 0) 0%, rgba(124, 183, 147, 0.5) 100%); background-image: -moz-linear-gradient(bottom, rgba(124, 183, 147, 0) 0%, rgba(124, 183, 147, 0.5) 100%); background-image: -o-linear-gradient(bottom, rgba(124, 183, 147, 0) 0%, rgba(124, 183, 147, 0.5) 100%); background-image: linear-gradient(bottom, rgba(124, 183, 147, 0) 0%, rgba(124, 183, 147, 0.5) 100%); }
.btn:active { position: relative; top: 2px; -webkit-box-shadow: inset 0 1px 1px rgba(44, 85, 60, 0.75); -moz-box-shadow: inset 0 1px 1px rgba(44, 85, 60, 0.75); box-shadow: inset 0 1px 1px rgba(44, 85, 60, 0.75); background-color: #59a577; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(124, 183, 147, 0)), color-stop(100%, rgba(124, 183, 147, 0.5))); background-image: -webkit-linear-gradient(bottom, rgba(124, 183, 147, 0) 0%, rgba(124, 183, 147, 0.5) 100%); background-image: -moz-linear-gradient(bottom, rgba(124, 183, 147, 0) 0%, rgba(124, 183, 147, 0.5) 100%); background-image: -o-linear-gradient(bottom, rgba(124, 183, 147, 0) 0%, rgba(124, 183, 147, 0.5) 100%); background-image: linear-gradient(bottom, rgba(124, 183, 147, 0) 0%, rgba(124, 183, 147, 0.5) 100%); }
.btn.btn-primary { background-color: #f16421; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(242, 102, 33, 0)), color-stop(100%, rgba(242, 123, 35, 0.5))); background-image: -webkit-linear-gradient(bottom, rgba(242, 102, 33, 0) 0%, rgba(242, 123, 35, 0.5) 100%); background-image: -moz-linear-gradient(bottom, rgba(242, 102, 33, 0) 0%, rgba(242, 123, 35, 0.5) 100%); background-image: -o-linear-gradient(bottom, rgba(242, 102, 33, 0) 0%, rgba(242, 123, 35, 0.5) 100%); background-image: linear-gradient(bottom, rgba(242, 102, 33, 0) 0%, rgba(242, 123, 35, 0.5) 100%); -webkit-box-shadow: 0 2px 0 #a0410c; -moz-box-shadow: 0 2px 0 #a0410c; box-shadow: 0 2px 0 #a0410c; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.btn.btn-primary:hover { background-color: #f7953e; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(247, 151, 63, 0)), color-stop(100%, rgba(247, 173, 68, 0.5))); background-image: -webkit-linear-gradient(bottom, rgba(247, 151, 63, 0) 0%, rgba(247, 173, 68, 0.5) 100%); background-image: -moz-linear-gradient(bottom, rgba(247, 151, 63, 0) 0%, rgba(247, 173, 68, 0.5) 100%); background-image: -o-linear-gradient(bottom, rgba(247, 151, 63, 0) 0%, rgba(247, 173, 68, 0.5) 100%); background-image: linear-gradient(bottom, rgba(247, 151, 63, 0) 0%, rgba(247, 173, 68, 0.5) 100%); }
.btn.btn-primary:active { background-color: #f7953e; -webkit-box-shadow: inset 0 1px 1px rgba(160, 65, 12, 0.75); -moz-box-shadow: inset 0 1px 1px rgba(160, 65, 12, 0.75); box-shadow: inset 0 1px 1px rgba(160, 65, 12, 0.75); background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(247, 151, 63, 0)), color-stop(100%, rgba(247, 173, 68, 0.5))); background-image: -webkit-linear-gradient(bottom, rgba(247, 151, 63, 0) 0%, rgba(247, 173, 68, 0.5) 100%); background-image: -moz-linear-gradient(bottom, rgba(247, 151, 63, 0) 0%, rgba(247, 173, 68, 0.5) 100%); background-image: -o-linear-gradient(bottom, rgba(247, 151, 63, 0) 0%, rgba(247, 173, 68, 0.5) 100%); background-image: linear-gradient(bottom, rgba(247, 151, 63, 0) 0%, rgba(247, 173, 68, 0.5) 100%); }
.btn.btn-action { background-color: #0076a3; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(-25%, rgba(0, 114, 182, 0.8)), color-stop(125%, rgba(255, 255, 255, 0.8))); background-image: -webkit-linear-gradient(bottom, rgba(0, 114, 182, 0.8) -25%, rgba(255, 255, 255, 0.8) 125%); background-image: -moz-linear-gradient(bottom, rgba(0, 114, 182, 0.8) -25%, rgba(255, 255, 255, 0.8) 125%); background-image: -o-linear-gradient(bottom, rgba(0, 114, 182, 0.8) -25%, rgba(255, 255, 255, 0.8) 125%); background-image: linear-gradient(bottom, rgba(0, 114, 182, 0.8) -25%, rgba(255, 255, 255, 0.8) 125%); padding: 4px 10px; -webkit-box-shadow: 0 2px 0 #004b80; -moz-box-shadow: 0 2px 0 #004b80; box-shadow: 0 2px 0 #004b80; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.btn.btn-action:hover { background-color: #2b8abf; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(-25%, rgba(48, 173, 248, 0.8)), color-stop(125%, rgba(255, 255, 255, 0.8))); background-image: -webkit-linear-gradient(bottom, rgba(48, 173, 248, 0.8) -25%, rgba(255, 255, 255, 0.8) 125%); background-image: -moz-linear-gradient(bottom, rgba(48, 173, 248, 0.8) -25%, rgba(255, 255, 255, 0.8) 125%); background-image: -o-linear-gradient(bottom, rgba(48, 173, 248, 0.8) -25%, rgba(255, 255, 255, 0.8) 125%); background-image: linear-gradient(bottom, rgba(48, 173, 248, 0.8) -25%, rgba(255, 255, 255, 0.8) 125%); }
.btn.btn-action:active { background-color: #2b8abf; -webkit-box-shadow: inset 0 1px 1px rgba(0, 75, 128, 0.75); -moz-box-shadow: inset 0 1px 1px rgba(0, 75, 128, 0.75); box-shadow: inset 0 1px 1px rgba(0, 75, 128, 0.75); background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(-25%, rgba(48, 173, 248, 0.8)), color-stop(125%, rgba(255, 255, 255, 0.8))); background-image: -webkit-linear-gradient(bottom, rgba(48, 173, 248, 0.8) -25%, rgba(255, 255, 255, 0.8) 125%); background-image: -moz-linear-gradient(bottom, rgba(48, 173, 248, 0.8) -25%, rgba(255, 255, 255, 0.8) 125%); background-image: -o-linear-gradient(bottom, rgba(48, 173, 248, 0.8) -25%, rgba(255, 255, 255, 0.8) 125%); background-image: linear-gradient(bottom, rgba(48, 173, 248, 0.8) -25%, rgba(255, 255, 255, 0.8) 125%); }

.out { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -156px; }

.header { background: #f3f7f4; height: 116px; color: #004c01; }
.header .header__in { *zoom: 1; padding: 20px 0; }
.header .header__in:after { content: " "; display: table; clear: both; }
.header .header__logo { float: left; margin-top: -4px; margin-right: 80px; }
.header .header__logo a { display: block; background: url('../img/icons-s6d8d0e7908.png') 0 0 no-repeat; width: 219px; height: 60px; font: 0/0 a; text-shadow: none; color: transparent; }

.contacts { float: left; *zoom: 1; }
.contacts:after { content: " "; display: table; clear: both; }
.contacts .icon { float: left; margin-left: -21px; position: relative; top: 2px; }
.contacts .icon.icon_mail { top: 7px; }
.contacts ul { float: left; margin-left: 15px; }
.contacts ul:first-child { margin-left: 0; }
.contacts li { font-family: "lato-bold"; font-weight: normal; font-style: normal; font-size: 16px; }
.contacts a { display: block; text-decoration: none; padding-left: 21px; }
.contacts a.contacts__mail { font-family: "lato-heavy"; font-weight: normal; font-style: normal; }
.contacts a.contacts__callback { font-size: 12px; text-decoration: underline; }
.contacts a.contacts__callback:hover { text-decoration: none; }

.basket { font-family: "lato-bold"; font-weight: normal; font-style: normal; background: url("../img/basket.png") 8px 50% no-repeat; float: right; width: 220px; border: 2px solid #42885c; font-size: 12px; line-height: 16px; padding: 10px 10px 10px 60px; }

.nav { margin-top: -21px; margin-bottom: 20px; }
.nav > ul { padding: 0 20px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background-color: #427255; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(124, 183, 147, 0)), color-stop(100%, rgba(124, 183, 147, 0.5))); background-image: -webkit-linear-gradient(bottom, rgba(124, 183, 147, 0) 0%, rgba(124, 183, 147, 0.5) 100%); background-image: -moz-linear-gradient(bottom, rgba(124, 183, 147, 0) 0%, rgba(124, 183, 147, 0.5) 100%); background-image: -o-linear-gradient(bottom, rgba(124, 183, 147, 0) 0%, rgba(124, 183, 147, 0.5) 100%); background-image: linear-gradient(bottom, rgba(124, 183, 147, 0) 0%, rgba(124, 183, 147, 0.5) 100%); -webkit-box-shadow: 0 4px 0 #2c553c; -moz-box-shadow: 0 4px 0 #2c553c; box-shadow: 0 4px 0 #2c553c; }
.nav > ul li { display: inline-block; vertical-align: middle; margin-left: 25px; }
.nav > ul li:first-child { margin-left: 0; }
.nav > ul li:hover a { color: #ffa200; text-decoration: underline; }
.nav > ul li.is-active a { color: #b9e5ad; text-decoration: none; }
.nav > ul a { display: block; font-size: 16px; color: white; text-decoration: none; line-height: 16px; padding: 12px 0; }

.page { padding-bottom: 40px; }

.site_push, .footer { height: 156px; }

.footer { background: #f3f7f4; height: 156px; }
.footer .footer__in { *zoom: 1; padding: 33px 0 10px; }
.footer .footer__in:after { content: " "; display: table; clear: both; }
.footer .footer__contacts { float: left; margin-left: 240px; }
.footer .footer__info { float: left; font-size: 14px; color: #4f575c; line-height: 22px; margin-left: 20px; }

.subnav { position: relative; margin-bottom: 30px; font-family: "lato-bold"; font-weight: normal; font-style: normal; }
.subnav.subnav_mod > ul > li { background: #fce1ec; }
.subnav.subnav_mod > ul > li.subnav__title { border-color: #91278f; }
.subnav.subnav_mod > ul > li.subnav__title > a { background: #91278f; }
.subnav > ul > li { background: #f3f7f4; margin-top: -1px; border: 1px solid #d0e2d6; border-left-color: transparent; border-right-color: transparent; text-transform: uppercase; font-size: 11px; line-height: 14px; }
.subnav > ul > li:first-child { margin-top: 0; }
.subnav > ul > li:hover { background: white; border-color: #d0e2d6; }
.subnav > ul > li:hover > a { color: #ffa200; border-color: #d0e2d6; }
.subnav > ul > li.has-dropdown.is-active { border-color: #d0e2d6; border-right-color: transparent; }
.subnav > ul > li.has-dropdown.is-active > a { background: white; margin-right: -3px; position: relative; z-index: 101; border-color: #d0e2d6; border-right-color: transparent; }
.subnav > ul > li.has-dropdown.is-active:hover > a { color: #0a52a2; }
.subnav > ul > li.has-dropdown.is-active .subnav__dropdown { opacity: 1; left: 100%; visibility: visible; }
.subnav > ul > li.subnav__title { font-family: "lato-black"; font-weight: normal; font-style: normal; border-color: #437857; }
.subnav > ul > li.subnav__title > a { background: #437857; color: white; border: none; padding: 5px 10px 5px 20px; }
.subnav > ul > li > a { display: block; border: 1px solid transparent; padding: 10px 20px; color: #0a52a2; text-decoration: none; }
.subnav .subnav__dropdown { opacity: 0; position: absolute; left: -100%; top: 0; bottom: 1px; width: 240px; background: white; z-index: 100; border: 2px solid #d0e2d6; padding: 20px 24px 20px 17px; -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; transition: all 0.1s linear; visibility: hidden; }
.subnav .subnav__dropdown-wrap.is-fixed { position: fixed; top: 20px; }
.subnav .subnav__dropdown-wrap.is-bolno { position: absolute !important; bottom: 20px; top: auto !important; }
.subnav .subnav__dropdown-wrap li { margin-bottom: 25px; }
.subnav .subnav__dropdown-wrap li a { font-size: 12px; color: #0a52a2; text-decoration: none; text-transform: none; }
.subnav .subnav__dropdown-wrap li a:hover { color: #ffa200 !important; }
.subnav .subnav__border { height: 1px; background: transparent; }
.subnav .subnav__sale { background: #d84002; margin-top: 30px; border: 2px solid #f0f0f5; font-size: 12px; font-family: "lato-bold"; font-weight: normal; font-style: normal; text-transform: uppercase; color: white; height: 98px; line-height: 98px; text-align: center; }
.subnav .subnav__sale a { display: block; height: 100%; color: white; text-decoration: none; }
.subnav .subnav__sale a span { display: inline-block; vertical-align: middle; line-height: 14px; }

.input { font-family: "lato-heavyitalic"; font-weight: normal; font-style: normal; display: block; width: 100%; border: 1px solid #d7d7e7; background: white; font-size: 14px; line-height: 18px; color: #595969; padding: 5px 10px; }
.input:-moz-placeholder, .input::-moz-placeholder { color: #595969; opacity: 1; }
.input::-webkit-input-placeholder { color: #595969; }
.input:focus:-moz-placeholder, .input:focus::-moz-placeholder { color: transparent; opacity: 1; }
.input:focus::-webkit-input-placeholder { color: transparent; }

.search { margin-bottom: 45px; position: relative; }
.search .search__row { background: #f0f0f4; padding: 24px 16px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
.search .search__q { display: inline-block; width: 460px; }
.search .search__btn { vertical-align: top; margin-left: 20px; width: 181px; }
.search .search__order { position: absolute; top: 100%; right: 10px; border: 2px solid #f0f0f4; border-width: 0 2px 2px; width: 450px; padding: 4px 15px; z-index: 1050; background: white; }
.search .search__ordertrigger { font-family: "lato-bold"; font-weight: normal; font-style: normal; font-size: 12px; display: block; text-align: right; }
.search .search__form { padding-top: 20px; padding-bottom: 15px; }
.search .search__formrow { *zoom: 1; margin-top: 5px; }
.search .search__formrow:after { content: " "; display: table; clear: both; }
.search .search__formrow .btn { display: block; width: 181px; margin-top: 10px; }
.search .search__formrow:first-child { margin-top: 0; }
.search .search__formrow.search__formrow_mod .input { float: right; width: 200px; }
.search .search__formrow.search__formrow_mod .input:first-child { float: left; }

.catalog .catalog__list { *zoom: 1; margin-left: -20px; }
.catalog .catalog__list:after { content: " "; display: table; clear: both; }
.catalog .catalog__item { position: relative; float: left; width: 160px; margin-left: 20px; border: 2px solid #f0f0f5; margin-bottom: 20px; }
.catalog .catalog__item.is-new .catalog__badge { background: url('../img/icons-s6d8d0e7908.png') 0 -210px no-repeat; width: 60px; height: 60px; }
.catalog .catalog__item.is-new .catalog__pricevalue { color: #ed1c24; }
.catalog .catalog__item.is-sale .catalog__badge { background: url('../img/icons-s6d8d0e7908.png') 0 -140px no-repeat; width: 60px; height: 60px; }
.catalog .catalog__item.is-sale .catalog__pricevalue { color: #ec008c; }
.catalog .catalog__item.is-best .catalog__badge { background: url('../img/icons-s6d8d0e7908.png') 0 -70px no-repeat; width: 60px; height: 60px; }
.catalog .catalog__item.is-best .catalog__pricevalue { color: #0072bc; }
.catalog .catalog__badge { position: absolute; top: -2px; right: -2px; z-index: 1; }
.catalog .catalog__pic { position: relative; width: 156px; height: 137px; overflow: hidden; border-bottom: 1px solid #f0f0f5; }
.catalog .catalog__pic img { display: block; width: 156px; height: auto; }
.catalog .catalog__picoverlay { font-family: "lato-regular"; font-weight: normal; font-style: normal; position: absolute; top: 0; left: 0; width: 100%; height: 100%; text-align: center; line-height: 136px; background: rgba(44, 85, 60, 0.8); font-size: 18px; color: white; text-decoration: none; text-transform: lowercase; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.catalog .catalog__info { position: relative; }
.catalog .catalog__info:hover .catalog__descr { text-decoration: underline; color: #ffa200; }
.catalog .catalog__info:hover .catalog__picoverlay { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
.catalog .catalog__hotzone { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; }
.catalog .catalog__descr { font-family: "lato-bold"; font-weight: normal; font-style: normal; margin: 6px 8px; font-size: 12px; color: #0071bc; line-height: 16px; height: 66px; overflow: hidden; }
.catalog .catalog__price { font-family: "lato-black"; font-weight: normal; font-style: normal; position: relative; text-align: center; font-size: 24px; line-height: 16px; padding-top: 20px; margin-bottom: 10px; color: #4f575c; }
.catalog .catalog__priceold { font-family: "lato-medium"; font-weight: normal; font-style: normal; position: absolute; left: 0; width: 100%; top: -2px; font-size: 14px; text-decoration: line-through; }
.catalog .catalog__btn { text-align: center; margin: 0 8px 8px; }
.catalog .catalog__btn .btn { display: block; }

.proposals { margin-bottom: 20px; }
.proposals .proposals__list { *zoom: 1; margin-left: -20px; }
.proposals .proposals__list:after { content: " "; display: table; clear: both; }

.proposal { width: 340px; float: left; margin-left: 20px; margin-bottom: 20px; }
.proposal .proposal__content { height: 150px; overflow: hidden; border: 2px solid #f0f0f5; }
.proposal .proposal__content img { display: block; width: 100%; min-height: 146px; }
.proposal .proposal__more { font-family: "lato-bold"; font-weight: normal; font-style: normal; font-size: 14px; margin-top: 8px; line-height: 1; }

.brands { margin-bottom: 40px; }
.brands .brands__row { display: table; width: 100%; }
.brands .brands__item { display: table-cell; vertical-align: middle; text-align: center; width: 14%; padding: 3px 0; }
.brands .brands__item img { display: inline-block; vertical-align: middle; }
.brands .brands__more { font-family: "lato-bold"; font-weight: normal; font-style: normal; font-size: 14px; line-height: 1; margin-top: 15px; }

.entries .entries__list { *zoom: 1; margin-left: -20px; }
.entries .entries__list:after { content: " "; display: table; clear: both; }
.entries .entries__item { float: left; width: 340px; height: 223px; overflow: hidden; margin-left: 20px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background: #f0f0f5; line-height: 22px; padding: 15px 20px; margin-bottom: 15px; }
.entries .entries__item p { color: #4f575c; font-size: 14px; }
.entries .entries__title { font-family: "lato-blackitalic"; font-weight: normal; font-style: normal; font-size: 24px; color: #0071bc; margin-bottom: 5px; }
.entries .entries__title a { color: inherit; text-decoration: none; }
.entries .entries__title a:hover { text-decoration: underline; }
.entries .entries__more { font-family: "lato-bold"; font-weight: normal; font-style: normal; font-size: 14px; line-height: 1; }

.partneradv { *zoom: 1; margin-bottom: 40px; border: 2px solid #73b4cf; background: #c8ecfb; }
.partneradv:after { content: " "; display: table; clear: both; }
.partneradv .partneradv__pic { float: left; width: 326px; height: 212px; overflow: hidden; }
.partneradv .partneradv__pic img { display: block; min-width: 100%; height: auto; }
.partneradv .partneradv__info { overflow: hidden; padding: 10px 8px 5px 33px; font-size: 14px; color: #48616c; line-height: 18px; }
.partneradv .partneradv__text { font-family: "lato-bold"; font-weight: normal; font-style: normal; padding-right: 55px; margin-bottom: 8px; }
.partneradv .partneradv__text a { color: inherit; text-decoration: none; }
.partneradv .partneradv__text a:hover { text-decoration: underline; }
.partneradv .partneradv__subtitle { margin-bottom: 10px; }
.partneradv .partneradv__title { font-family: "lato-black"; font-weight: normal; font-style: normal; font-size: 20px; text-transform: uppercase; color: #ff4e00; line-height: 23px; margin-bottom: 5px; }
.partneradv .partneradv__action { *zoom: 1; }
.partneradv .partneradv__action:after { content: " "; display: table; clear: both; }
.partneradv .partneradv__action .btn { display: inline-block; }
.partneradv .partneradv__action .btn:first-child { margin-right: 10px; }

.breadcrumbs { margin-bottom: 30px; font-size: 0; }
.breadcrumbs li { display: inline; font-size: 12px; color: #4f575c; font-family: "lato-bold"; font-weight: normal; font-style: normal; }
.breadcrumbs li:first-child a { padding-left: 0; }
.breadcrumbs li:first-child a:before { content: none; }
.breadcrumbs a { color: #267dc1; }
.breadcrumbs span, .breadcrumbs a { position: relative; padding-left: 7px; padding-right: 7px; }
.breadcrumbs span:before, .breadcrumbs a:before { position: relative; display: inline-block; top: -1px; left: -6px; background: url('../img/icons-s6d8d0e7908.png') 0 -679px no-repeat; width: 4px; height: 6px; content: ""; }

.h1 { font-family: "lato-black"; font-weight: normal; font-style: normal; color: #42845a; text-transform: uppercase; margin-bottom: 20px; letter-spacing: 0.04em; font-size: 30px; line-height: 35px; }

.filters-row { background: #f0f0f5; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; padding: 20px; margin-bottom: 20px; }

.filters { margin-top: 25px; }
.filters:first-child { margin-top: 0; }
.filters.filters_mod .filters__list li.is-current a { background: #437857; }
.filters.filters_mod .filters__list a { color: #437857; }
.filters .filters__title { font-family: "lato-blackitalic"; font-weight: normal; font-style: normal; font-size: 18px; color: #0071bc; }
.filters .filters__list { margin-left: -4px; }
.filters .filters__list li { display: inline-block; }
.filters .filters__list li.is-current a { color: white; background: #91278f; text-decoration: none; }
.filters .filters__list a { display: block; line-height: 1; padding: 4px; font-size: 12px; color: #91278f; text-decoration: underline; }
.filters .filters__list a:hover { text-decoration: none; color: #4f575c; }

.paginator { margin-bottom: 20px; }
.paginator .paginator__prev, .paginator .paginator__next { font: 0/0 a; text-shadow: none; color: transparent; display: block; display: inline-block; vertical-align: middle; position: relative; top: 1px; }
.paginator .paginator__prev { background: url('../img/icons-s6d8d0e7908.png') 0 -584px no-repeat; width: 7px; height: 12px; }
.paginator .paginator__prev:hover { background: url('../img/icons-s6d8d0e7908.png') 0 -643px no-repeat; width: 7px; height: 12px; }
.paginator .paginator__next { background: url('../img/icons-s6d8d0e7908.png') 0 -562px no-repeat; width: 7px; height: 12px; }
.paginator .paginator__next:hover { background: url('../img/icons-s6d8d0e7908.png') 0 -621px no-repeat; width: 7px; height: 12px; }
.paginator .paginator__pages { display: inline-block; vertical-align: middle; margin: 0 15px; font-size: 0; }
.paginator .paginator__pages li { display: inline-block; margin-left: 7px; }
.paginator .paginator__pages li:first-child { margin-left: 0; }
.paginator .paginator__pages li.is-current a { background: #0071bc; color: white; border-color: #0071bc; }
.paginator .paginator__pages a { display: block; padding: 1px 5px; font-size: 12px; color: #0071bc; text-decoration: none; border: 1px solid #f0f0f5; }

.topic { font-size: 14px; line-height: 22px; }
.topic h1, .topic h2, .topic h3, .topic h4 { font-family: "lato-black"; font-weight: normal; font-style: normal; color: #42845a; text-transform: uppercase; margin-bottom: 20px; letter-spacing: 0.04em; }
.topic h1 { font-size: 30px; line-height: 35px; }
.topic h2 { font-size: 26px; line-height: 30px; }
.topic h3 { font-size: 22px; line-height: 25px; }
.topic h4 { font-size: 18px; line-height: 24px; }
.topic p { color: #4f575c; margin-bottom: 15px; }
.topic p + h2, .topic ul + h2, .topic ol + h2 { margin-top: 40px; }
.topic p + h3, .topic ul + h3, .topic ol + h3 { margin-top: 40px; }
.topic p + h4, .topic ul + h4, .topic ol + h4 { margin-top: 40px; }
.topic .topic__img { float: left; margin: 5px 25px 20px 0; }
.topic ol { padding-left: 35px; list-style-type: decimal; margin-bottom: 10px; }
.topic ol li { font-size: 14px; color: #535a63; }
.topic ul { margin-bottom: 10px; }
.topic ul li { position: relative; color: #535a63; margin-bottom: 5px; }
.topic ul li:before { position: absolute; top: 9px; content: ""; }
.topic ul > li { padding-left: 27px; }
.topic ul > li:before { left: 16px; background: url('../img/icons-s6d8d0e7908.png') 0 -665px no-repeat; width: 4px; height: 4px; }
.topic ul > li ul { margin-top: 5px; }
.topic ul > li ul > li { padding-left: 20px; }
.topic ul > li ul > li:before { background: url('../img/icons-s6d8d0e7908.png') 0 -606px no-repeat; width: 5px; height: 5px; left: 9px; }
.topic ul > li ul > li ul { margin-top: 5px; }
.topic ul > li ul > li ul > li { padding-left: 30px; }
.topic ul > li ul > li ul > li:before { background: url('../img/icons-s6d8d0e7908.png') 0 -695px no-repeat; width: 5px; height: 5px; left: 19px; }
.topic blockquote { font-family: "lato-blackitalic"; font-weight: normal; font-style: normal; font-size: 18px; color: #0071bc; background: #f0f0f5; text-align: center; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; padding: 20px 25px; margin: 25px 0; }
.topic .table { padding-bottom: 36px; margin-top: 25px; margin-bottom: 25px; position: relative; }
.topic .table:before { position: absolute; height: 36px; bottom: 0; left: 0; right: 0; content: ""; background: #437857; -webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; -ms-border-radius: 0 0 5px 5px; -o-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; }
.topic .table table { text-align: center; }
.topic .table table thead td { text-transform: uppercase; color: white; font-size: 14px; background: #437857; }
.topic .table table thead td:first-child { -webkit-border-radius: 5px 0 0 0; -moz-border-radius: 5px 0 0 0; -ms-border-radius: 5px 0 0 0; -o-border-radius: 5px 0 0 0; border-radius: 5px 0 0 0; }
.topic .table table thead td:last-child { -webkit-border-radius: 0 5px 0 0; -moz-border-radius: 0 5px 0 0; -ms-border-radius: 0 5px 0 0; -o-border-radius: 0 5px 0 0; border-radius: 0 5px 0 0; }
.topic .table table tbody tr { color: #4f575c; }
.topic .table table tbody tr:nth-child(even) { background: #f3f7f4; color: #437857; }
.topic .table table td { padding: 10px 10px; font-size: 12px; }
.topic .table table td:first-child { padding: 10px 19px; }

.catrow .catrow__item { position: relative; border: 2px solid #f0f0f5; margin-bottom: 20px; }
.catrow .catrow__item.is-new .catrow__badge { background: url('../img/icons-s6d8d0e7908.png') 0 -210px no-repeat; width: 60px; height: 60px; }
.catrow .catrow__item.is-new .catrow__price-current { color: #ed1c24; }
.catrow .catrow__item.is-sale .catrow__badge { background: url('../img/icons-s6d8d0e7908.png') 0 -140px no-repeat; width: 60px; height: 60px; }
.catrow .catrow__item.is-sale .catrow__price-current { color: #ec008c; }
.catrow .catrow__item.is-best .catrow__badge { background: url('../img/icons-s6d8d0e7908.png') 0 -70px no-repeat; width: 60px; height: 60px; }
.catrow .catrow__item.is-best .catrow__price-current { color: #0072bc; }
.catrow .catrow__badge { position: absolute; top: -2px; right: -2px; z-index: 1; }
.catrow .catrow__media { position: relative; float: left; width: 198px; height: 216px; overflow: hidden; border-right: 1px solid #f0f0f5; }
.catrow .catrow__media:hover .catrow__more { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
.catrow .catrow__more { position: absolute; top: 0; left: 0; width: 100%; height: 100%; text-align: center; line-height: 216px; background: rgba(44, 85, 60, 0.8); font-size: 18px; color: white; text-decoration: none; text-transform: lowercase; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.catrow .catrow__pic { text-align: center; line-height: 216px; }
.catrow .catrow__pic img { min-width: 198px; max-height: 216px; display: inline-block; vertical-align: middle; line-height: 1; }
.catrow .catrow__info { overflow: hidden; padding: 18px; height: 216px; position: relative; }
.catrow .catrow__title { font-family: "lato-bold"; font-weight: normal; font-style: normal; color: #0071bc; font-size: 18px; line-height: 1.3; }
.catrow .catrow__title a { text-decoration: none; }
.catrow .catrow__title a:hover { text-decoration: underline; }
.catrow .catrow__descr { color: #4f575c; font-size: 14px; line-height: 24px; }
.catrow .catrow__meta { position: absolute; bottom: 20px; left: 18px; right: 15px; *zoom: 1; }
.catrow .catrow__meta:after { content: " "; display: table; clear: both; }
.catrow .catrow__price { float: left; }
.catrow .catrow__price-current { display: inline-block; vertical-align: middle; color: #4f575c; font-family: "lato-black"; font-weight: normal; font-style: normal; font-size: 24px; }
.catrow .catrow__price-old { position: relative; top: 1px; display: inline-block; vertical-align: middle; text-decoration: line-through; font-family: "lato-medium"; font-weight: normal; font-style: normal; font-size: 14px; margin-left: 4px; }
.catrow .catrow__action { position: relative; top: 2px; float: right; font-size: 14px; }
.catrow .catrow__action-sep { padding: 0 8px; }
.catrow .catrow__btn { width: 141px; }

.product .h1 { text-transform: none; font-size: 32px; line-height: 1; margin-bottom: 15px; }
.product .product__info { *zoom: 1; margin-bottom: 20px; }
.product .product__info:after { content: " "; display: table; clear: both; }
.product .product__gal { margin-bottom: 20px; }
.product .product__meta { float: left; width: 340px; margin-right: 20px; min-height: 1px; }
.product .product__meta blockquote { -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background-color: #f0f0f5; padding: 20px; }
.product .product__price { font-family: "lato-black"; font-weight: normal; font-style: normal; margin-bottom: 5px; }
.product .product__price-old { font-size: 24px; text-decoration: line-through; }
.product .product__price-current { font-size: 44px; color: #117ac0; }
.product .product__action { text-align: center; margin-bottom: 40px; }
.product .product__action .btn-primary { display: block; width: 100%; font-size: 18px; color: white; padding: 21px 0; margin-bottom: 20px; }
.product .product__action-sep { font-family: "lato-bold"; font-weight: normal; font-style: normal; display: inline-block; vertical-align: middle; }
.product .product__btn-click { width: 181px; margin-left: 10px; }
.product .product__descr { overflow: hidden; }
.product .product__descr p { margin-top: 25px; line-height: 22px; }
.product .product__descr h3 { margin-top: 25px; font-family: "lato-black"; font-weight: normal; font-style: normal; font-size: 14px; }
.product .product__descr h3 + p { margin-top: 0; }

.comments { margin-bottom: 30px; }
.comments .comments__title { font-size: 24px; font-family: "lato-bold"; font-weight: normal; font-style: normal; color: #117ac0; }

.comment { *zoom: 1; padding: 35px 0; position: relative; border-top: 1px solid #e4eae5; }
.comment:after { content: " "; display: table; clear: both; }
.comment:before { position: absolute; top: 68px; left: 116px; background: url('../img/icons-s6d8d0e7908.png') 0 -531px no-repeat; width: 8px; height: 21px; content: ""; }
.comment:first-child { border: none; }

.comment__userpic { float: left; width: 97px; height: 97px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; overflow: hidden; margin-right: 27px; }
.comment__userpic img { display: block; min-height: 97px; max-width: 97px; }

.comment__info { overflow: hidden; padding-left: 24px; position: relative; color: #636c71; font-size: 14px; line-height: 22px; }
.comment__info:before { position: absolute; top: 0; bottom: 0; left: 0; width: 4px; background: #e4eae5; content: ""; }

.comment__meta { *zoom: 1; margin-bottom: 10px; }
.comment__meta:after { content: " "; display: table; clear: both; }

.comment__rate { margin-bottom: 5px; }

.comment__userinfo { float: left; font-family: "lato-heavy"; font-weight: normal; font-style: normal; }

.comment__date { float: right; color: #acacac; }

.flexslider__viewport { border: 1px solid #dadada; margin-bottom: 13px; width: 338px; height: 338px; }

.flexslider__slides li { height: 336px; }
.flexslider__slides li a { position: relative; display: block; height: 100%; }
.flexslider__slides li a:before { position: absolute; bottom: 10px; right: 10px; background: url('../img/icons-s6d8d0e7908.png') 0 -280px no-repeat; width: 34px; height: 34px; content: ""; }
.flexslider__slides img { display: block; }

.flexslider__control-thumbs li { display: inline-block; margin-left: 14px; width: 74px; height: 74px; overflow: hidden; }
.flexslider__control-thumbs li:first-child { margin-left: 0; }
.flexslider__control-thumbs li img { display: block; width: 100%; height: auto; border: 2px solid #dadada; cursor: pointer; }
.flexslider__control-thumbs li img.flexslider__active { border-color: #42845a; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }

.fancybox-close { background: url('../img/icons-s6d8d0e7908.png') 0 -403px no-repeat; width: 18px; height: 18px; }

.fancybox-next span { background: url('../img/icons-s6d8d0e7908.png') 0 -431px no-repeat; width: 12px; height: 17px; }

.fancybox-prev span { background: url('../img/icons-s6d8d0e7908.png') 0 -458px no-repeat; width: 12px; height: 17px; }

.overlay { position: fixed; top: 0; right: 0; bottom: 0; left: 0; background: rgba(0, 0, 0, 0.6); -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); z-index: 1055; opacity: 0; visibility: hidden; -webkit-transition: all 0.2s ease-in; -moz-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in; transition: all 0.2s ease-in; }
.overlay.is-active { opacity: 1; visibility: visible; }

.popup { position: fixed; width: 700px; height: 360px; left: 50%; top: 100px; margin-left: -350px; opacity: 0; background-color: #f0f0f4; -webkit-transform: translate3d(0, -100%, 0); -moz-transform: translate3d(0, -100%, 0); -ms-transform: translate3d(0, -100%, 0); -o-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); -webkit-transition: all 0.2s ease-in; -moz-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in; transition: all 0.2s ease-in; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; z-index: 1060; visibility: hidden; }
.popup.is-active { visibility: visible; opacity: 1; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.popup .popup__in { padding: 70px 120px 10px; }
.popup .popup__title { font-family: "lato-black"; font-weight: normal; font-style: normal; color: #42845a; text-align: center; text-transform: uppercase; text-align: center; font-size: 36px; line-height: 1; margin-bottom: 20px; }
.popup p { text-align: center; margin-bottom: 25px; }
.popup .form__row { margin-bottom: 15px; }
.popup .form__submit .btn { display: block; width: 100%; font-size: 18px; color: white; padding: 21px 0; margin-bottom: 20px; }
