* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

.l-layout { overflow: hidden; }

.l-sidebar { float: left; width: 220px; margin-right: 20px; }

.l-main { overflow: hidden; }

body { font-family: Arial, sans-serif; font-size: 14px; line-height: 1.4; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; min-width: 960px; }

.header .header__in, .nav, .page, .footer .footer__in { width: 940px; margin-left: auto; margin-right: auto; }

.icon { display: inline-block; vertical-align: middle; }
.icon.icon_phone { background: url('../img/icons-sdd65581969.png') 0 -306px no-repeat; width: 16px; height: 16px; }
.icon.icon_mail { background: url('../img/icons-sdd65581969.png') 0 -385px no-repeat; width: 16px; height: 10px; }
.icon.icon_mts { background: url('../img/icons-sdd65581969.png') 0 -359px no-repeat; width: 17px; height: 16px; }
.icon.icon_megafon { background: url('../img/icons-sdd65581969.png') 0 -332px no-repeat; width: 17px; height: 17px; }
.icon.icon_beeline { background: url('../img/icons-sdd65581969.png') 0 -280px no-repeat; width: 17px; height: 16px; }

.btn { white-space: nowrap; display: inline-block; text-transform: uppercase; text-decoration: none; border: none; font-size: 10px; line-height: 16px; color: white; text-align: center; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; background-color: #427255; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(124, 183, 147, 0)), color-stop(100%, rgba(124, 183, 147, 0.5))); background-image: -webkit-linear-gradient(bottom, rgba(124, 183, 147, 0) 0%, rgba(124, 183, 147, 0.5) 100%); background-image: -moz-linear-gradient(bottom, rgba(124, 183, 147, 0) 0%, rgba(124, 183, 147, 0.5) 100%); background-image: -o-linear-gradient(bottom, rgba(124, 183, 147, 0) 0%, rgba(124, 183, 147, 0.5) 100%); background-image: linear-gradient(bottom, rgba(124, 183, 147, 0) 0%, rgba(124, 183, 147, 0.5) 100%); -webkit-box-shadow: 0 2px 0 #2c553c; -moz-box-shadow: 0 2px 0 #2c553c; box-shadow: 0 2px 0 #2c553c; padding: 6px; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.btn:hover { background-color: #59a577; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(124, 183, 147, 0)), color-stop(100%, rgba(124, 183, 147, 0.5))); background-image: -webkit-linear-gradient(bottom, rgba(124, 183, 147, 0) 0%, rgba(124, 183, 147, 0.5) 100%); background-image: -moz-linear-gradient(bottom, rgba(124, 183, 147, 0) 0%, rgba(124, 183, 147, 0.5) 100%); background-image: -o-linear-gradient(bottom, rgba(124, 183, 147, 0) 0%, rgba(124, 183, 147, 0.5) 100%); background-image: linear-gradient(bottom, rgba(124, 183, 147, 0) 0%, rgba(124, 183, 147, 0.5) 100%); }
.btn:active { position: relative; top: 2px; -webkit-box-shadow: inset 0 1px 1px rgba(44, 85, 60, 0.75); -moz-box-shadow: inset 0 1px 1px rgba(44, 85, 60, 0.75); box-shadow: inset 0 1px 1px rgba(44, 85, 60, 0.75); background-color: #59a577; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(124, 183, 147, 0)), color-stop(100%, rgba(124, 183, 147, 0.5))); background-image: -webkit-linear-gradient(bottom, rgba(124, 183, 147, 0) 0%, rgba(124, 183, 147, 0.5) 100%); background-image: -moz-linear-gradient(bottom, rgba(124, 183, 147, 0) 0%, rgba(124, 183, 147, 0.5) 100%); background-image: -o-linear-gradient(bottom, rgba(124, 183, 147, 0) 0%, rgba(124, 183, 147, 0.5) 100%); background-image: linear-gradient(bottom, rgba(124, 183, 147, 0) 0%, rgba(124, 183, 147, 0.5) 100%); }
.btn.btn-primary { background-color: #f16421; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(242, 102, 33, 0)), color-stop(100%, rgba(242, 123, 35, 0.5))); background-image: -webkit-linear-gradient(bottom, rgba(242, 102, 33, 0) 0%, rgba(242, 123, 35, 0.5) 100%); background-image: -moz-linear-gradient(bottom, rgba(242, 102, 33, 0) 0%, rgba(242, 123, 35, 0.5) 100%); background-image: -o-linear-gradient(bottom, rgba(242, 102, 33, 0) 0%, rgba(242, 123, 35, 0.5) 100%); background-image: linear-gradient(bottom, rgba(242, 102, 33, 0) 0%, rgba(242, 123, 35, 0.5) 100%); -webkit-box-shadow: 0 2px 0 #a0410c; -moz-box-shadow: 0 2px 0 #a0410c; box-shadow: 0 2px 0 #a0410c; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.btn.btn-primary:hover { background-color: #f7953e; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(247, 151, 63, 0)), color-stop(100%, rgba(247, 173, 68, 0.5))); background-image: -webkit-linear-gradient(bottom, rgba(247, 151, 63, 0) 0%, rgba(247, 173, 68, 0.5) 100%); background-image: -moz-linear-gradient(bottom, rgba(247, 151, 63, 0) 0%, rgba(247, 173, 68, 0.5) 100%); background-image: -o-linear-gradient(bottom, rgba(247, 151, 63, 0) 0%, rgba(247, 173, 68, 0.5) 100%); background-image: linear-gradient(bottom, rgba(247, 151, 63, 0) 0%, rgba(247, 173, 68, 0.5) 100%); }
.btn.btn-primary:active { background-color: #f7953e; -webkit-box-shadow: inset 0 1px 1px rgba(160, 65, 12, 0.75); -moz-box-shadow: inset 0 1px 1px rgba(160, 65, 12, 0.75); box-shadow: inset 0 1px 1px rgba(160, 65, 12, 0.75); background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(247, 151, 63, 0)), color-stop(100%, rgba(247, 173, 68, 0.5))); background-image: -webkit-linear-gradient(bottom, rgba(247, 151, 63, 0) 0%, rgba(247, 173, 68, 0.5) 100%); background-image: -moz-linear-gradient(bottom, rgba(247, 151, 63, 0) 0%, rgba(247, 173, 68, 0.5) 100%); background-image: -o-linear-gradient(bottom, rgba(247, 151, 63, 0) 0%, rgba(247, 173, 68, 0.5) 100%); background-image: linear-gradient(bottom, rgba(247, 151, 63, 0) 0%, rgba(247, 173, 68, 0.5) 100%); }

.out { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -156px; }

.header { background: #f3f7f4; height: 116px; color: #004c01; }
.header .header__in { *zoom: 1; padding: 20px 0; }
.header .header__in:after { content: " "; display: table; clear: both; }
.header .header__logo { float: left; margin-top: -4px; margin-right: 80px; }
.header .header__logo a { display: block; background: url('../img/icons-sdd65581969.png') 0 0 no-repeat; width: 219px; height: 60px; font: 0/0 a; text-shadow: none; color: transparent; }

.contacts { float: left; *zoom: 1; }
.contacts:after { content: " "; display: table; clear: both; }
.contacts .icon { position: relative; top: -2px; margin-right: 5px; }
.contacts .icon.icon_mail { top: -1px; }
.contacts ul { float: left; margin-left: 15px; }
.contacts ul:first-child { margin-left: 0; }
.contacts li { font-size: 16px; }
.contacts a { display: block; color: #0a52a2; text-decoration: none; }
.contacts a.contacts__callback { font-size: 12px; text-decoration: underline; }
.contacts a.contacts__callback:hover { text-decoration: none; }

.basket { background: url("../img/basket.png") 8px 50% no-repeat; float: right; width: 220px; border: 2px solid #42885c; font-size: 12px; line-height: 16px; padding: 10px 10px 10px 60px; }

.nav { margin-top: -21px; margin-bottom: 20px; }
.nav > ul { padding: 0 20px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background-color: #427255; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(124, 183, 147, 0)), color-stop(100%, rgba(124, 183, 147, 0.5))); background-image: -webkit-linear-gradient(bottom, rgba(124, 183, 147, 0) 0%, rgba(124, 183, 147, 0.5) 100%); background-image: -moz-linear-gradient(bottom, rgba(124, 183, 147, 0) 0%, rgba(124, 183, 147, 0.5) 100%); background-image: -o-linear-gradient(bottom, rgba(124, 183, 147, 0) 0%, rgba(124, 183, 147, 0.5) 100%); background-image: linear-gradient(bottom, rgba(124, 183, 147, 0) 0%, rgba(124, 183, 147, 0.5) 100%); -webkit-box-shadow: 0 4px 0 #2c553c; -moz-box-shadow: 0 4px 0 #2c553c; box-shadow: 0 4px 0 #2c553c; }
.nav > ul li { display: inline-block; vertical-align: middle; margin-left: 25px; }
.nav > ul li:first-child { margin-left: 0; }
.nav > ul li:hover a { color: #ffa200; text-decoration: underline; }
.nav > ul li.is-active a { color: #b9e5ad; text-decoration: none; }
.nav > ul a { display: block; font-size: 16px; color: white; text-decoration: none; line-height: 16px; padding: 12px 0; }

.site_push, .footer { height: 156px; }

.footer { background: #f3f7f4; height: 156px; }
.footer .footer__in { *zoom: 1; padding: 33px 0 10px; }
.footer .footer__in:after { content: " "; display: table; clear: both; }
.footer .footer__contacts { float: left; margin-left: 240px; }
.footer .footer__info { float: left; font-size: 14px; color: #4f575c; line-height: 22px; margin-left: 20px; }

.subnav { position: relative; margin-bottom: 30px; }
.subnav.subnav_mod > ul > li { background: #fce1ec; }
.subnav.subnav_mod > ul > li.subnav__title { border-color: #91278f; }
.subnav.subnav_mod > ul > li.subnav__title > a { background: #91278f; }
.subnav > ul > li { background: #f3f7f4; margin-top: -1px; border: 1px solid #d0e2d6; border-left-color: transparent; border-right-color: transparent; text-transform: uppercase; font-size: 11px; line-height: 14px; }
.subnav > ul > li:first-child { margin-top: 0; }
.subnav > ul > li:hover { background: white; border-color: #d0e2d6; }
.subnav > ul > li:hover > a { color: #ffa200; border-color: #d0e2d6; }
.subnav > ul > li.has-dropdown.is-active { border-color: #d0e2d6; border-right-color: transparent; }
.subnav > ul > li.has-dropdown.is-active a { background: white; margin-right: -3px; position: relative; z-index: 101; border-color: #d0e2d6; border-right-color: transparent; }
.subnav > ul > li.has-dropdown.is-active:hover a { color: #0a52a2; }
.subnav > ul > li.has-dropdown.is-active .subnav__dropdown { display: block; }
.subnav > ul > li.subnav__title { border-color: #437857; }
.subnav > ul > li.subnav__title > a { background: #437857; color: white; border: none; padding: 5px 20px; }
.subnav > ul > li > a { display: block; border: 1px solid transparent; padding: 10px 20px; color: #0a52a2; text-decoration: none; }
.subnav .subnav__dropdown { display: none; position: absolute; left: 100%; top: 0; bottom: 0; width: 240px; background: white; z-index: 100; border: 2px solid #d0e2d6; padding: 20px 24px 20px 17px; }
.subnav .subnav__dropdown li { margin-bottom: 25px; }
.subnav .subnav__dropdown a { font-size: 12px; color: #0a52a2; text-decoration: none; }
.subnav .subnav__dropdown a:hover { color: #ffa200 !important; }

.search { margin-bottom: 45px; position: relative; }
.search .search__row { background: #f0f0f4; padding: 24px 16px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
.search .search__q { display: inline-block; width: 460px; border: 1px solid #d7d7e7; background: white; font-size: 14px; line-height: 18px; color: #595969; padding: 5px 10px; }
.search .search__q:-moz-placeholder, .search .search__q::-moz-placeholder { color: #595969; opacity: 1; }
.search .search__q::-webkit-input-placeholder { color: #595969; }
.search .search__q:focus:-moz-placeholder, .search .search__q:focus::-moz-placeholder { color: transparent; opacity: 1; }
.search .search__q:focus::-webkit-input-placeholder { color: transparent; }
.search .search__btn { vertical-align: top; margin-left: 20px; width: 181px; }
.search .search__order { position: absolute; top: 100%; right: 10px; border: 2px solid #f0f0f4; border-width: 0 2px 2px; width: 450px; padding: 4px 15px; }
.search .search__ordertrigger { font-size: 12px; color: #0071bc; text-decoration: underline; display: block; text-align: right; }
.search .search__ordertrigger:hover { text-decoration: none; }

.catalog .catalog__list { *zoom: 1; margin-left: -20px; }
.catalog .catalog__list:after { content: " "; display: table; clear: both; }
.catalog .catalog__item { position: relative; float: left; width: 160px; margin-left: 20px; border: 2px solid #f0f0f5; margin-bottom: 20px; }
.catalog .catalog__item.is-new .catalog__badge { background: url('../img/icons-sdd65581969.png') 0 -210px no-repeat; width: 60px; height: 60px; }
.catalog .catalog__item.is-new .catalog__pricevalue { color: #ed1c24; }
.catalog .catalog__item.is-sale .catalog__badge { background: url('../img/icons-sdd65581969.png') 0 -140px no-repeat; width: 60px; height: 60px; }
.catalog .catalog__item.is-sale .catalog__pricevalue { color: #ec008c; }
.catalog .catalog__item.is-best .catalog__badge { background: url('../img/icons-sdd65581969.png') 0 -70px no-repeat; width: 60px; height: 60px; }
.catalog .catalog__item.is-best .catalog__pricevalue { color: #0072bc; }
.catalog .catalog__badge { position: absolute; top: -2px; right: -2px; z-index: 1; }
.catalog .catalog__pic { position: relative; width: 156px; height: 137px; overflow: hidden; border-bottom: 1px solid #f0f0f5; }
.catalog .catalog__pic img { display: block; width: 156px; height: auto; }
.catalog .catalog__picoverlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; text-align: center; line-height: 136px; background: rgba(44, 85, 60, 0.8); font-size: 18px; color: white; text-decoration: none; text-transform: lowercase; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.catalog .catalog__info { position: relative; }
.catalog .catalog__info:hover .catalog__descr { text-decoration: underline; color: #ffa200; }
.catalog .catalog__info:hover .catalog__picoverlay { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
.catalog .catalog__hotzone { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; }
.catalog .catalog__descr { margin: 6px 8px; font-size: 12px; color: #0071bc; line-height: 16px; height: 66px; overflow: hidden; }
.catalog .catalog__price { position: relative; text-align: center; font-size: 24px; line-height: 16px; padding-top: 20px; margin-bottom: 10px; color: #4f575c; }
.catalog .catalog__priceold { position: absolute; left: 0; width: 100%; top: -2px; font-size: 14px; text-decoration: line-through; }
.catalog .catalog__btn { text-align: center; margin: 0 8px 8px; }
.catalog .catalog__btn .btn { display: block; }

.proposals { margin-bottom: 20px; }
.proposals .proposals__list { *zoom: 1; margin-left: -20px; }
.proposals .proposals__list:after { content: " "; display: table; clear: both; }

.proposal { width: 340px; float: left; margin-left: 20px; margin-bottom: 20px; }
.proposal .proposal__content { height: 150px; overflow: hidden; border: 2px solid #f0f0f5; }
.proposal .proposal__content img { display: block; width: 100%; min-height: 146px; }
.proposal .proposal__more { font-size: 14px; margin-top: 8px; line-height: 1; }
.proposal .proposal__more a { color: #0071bc; text-decoration: underline; }
.proposal .proposal__more a:hover { text-decoration: none; }
